/* Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("C:\Users\jiwan\reactApplication\my-react-app\public\16.jpg") no-repeat center center;
    background-size: cover;
}

.login-form {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #ff416c;
    font-weight: bold;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff416c;
}

.input-box input {
    width: 100%;
    padding: 12px 15px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #ff416c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ff4b2b;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #ff416c;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
